body{
margin: 0px;
}
.container{
background-color: #2398c9;
color: #F8F8F8;
margin: 0px auto 0px auto;
}
.intro{
	text-align: center;
	 background-color: #2398c9;
}
.intro div{
	padding-top:5px;
	padding-bottom: 15px;
}
#head1{
	font-size: 40px;
	font-weight: bolder;
}
input{
	height: 20px;
}
#header1{
	text-align: center;	
}
.location{
	position:static;
	margin-left: 360px;
	margin-right:360px;
}
.venueDetail{
	width: 550px;
	margin: auto;	
}
.icon{
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}
.error{
	display: none;
}
.venueIcon_category{
	position: static;
	width: 500px;
}
.venueTitle{
	position: static;
	display: inline-block;
	margin: auto;
}
.checkin-herenow{
	color: #2398c9;
	font-weight: bold;
}
.category-field{
	color: gray;
}
a:hover{
	color:#23c9a7;
}
a{
	color: #2398c9;
}
a:visited{
	color:#8e96d1;
}
form{
	margin: auto;
}
input{
	height: 30px;
	font-size: 16px;
}
.searchinputs{
	padding-top:10px;
	background-color: #cdeaf6; 

}
